*{
	font-family: 'Oxygen', sans-serif;
}

body{
	background-color: black;
}


h1{
	color:teal;
}

/*HEADER STARTS*/

#header-nav{
	background-color: #49ffc8;
	border-radius: 0;
	border:0;
}

#logo-img{
	/*background: url("../images/logodef.jpg") no-repeat;*/
	background: url("../images/logodef.jpg") no-repeat;
	width:  150px;
	height: 150px;
	margin: 8px 0 10px 0;
}

.navbar-brand{
	padding-top: 25px;
}

/*restaurant name*/
.navbar-brand h1{
	font-family: 'Gidugu', sans-serif;
	color:black;
	font-size: 4.0em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 5px 5px 4px teal;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration:none;
}
/* since writing*/
.navbar-brand p {
	color: black;
	text-transform: italic;
	font-size: 0.8em;
	margin-top: 15px;
	margin-left: 15%;
	font-weight: bold;
	text-shadow: 2px 2px 2px teal;
}

.navbar-brand p span{
	text-decoration: underline;
}

/*style for menu buttons*/
#nav-list{
	margin-top: 35px;
}

#nav-list a{
	color:black;
	text-shadow: 1.5px 1.5px 2px teal;
	text-align:center;
}

#nav-list a:hover{
	color:teal;
}

#nav-list a span{
	font-size: 2.5em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid teal;
}



#phone {
	padding-left: 20px;
}

#mailtext {
	font-size: 1.2em;
}



/*LARGE DEVICES ONLY*/
@media (min-width: 1200px){


}

/*MEDIUM DEVICES ONLY*/
@media (min-width: 992px) and (max-width: 1199px) {

		.navbar-brand h1{
			font-size: 3.0em;
		}
}

/*SMALL DEVICES ONLY*/
@media (min-width: 768px) and (max-width: 991px) {
      #nav-list li{
      		left:-80px;
      		bottom:50px;
     }

     #mailcontainer {
     	margin-top: 20px;
     	
     }






     
   
 }
     


/*EXTRA SMALL DEVICES ONLY*/
@media (min-width: 398px) and (max-width: 767px){
	#logo-img{
		background: url("../images/logodef7.jpg") no-repeat;
		width:  150px;
		height: 150px;
		margin: 8px 0 10px 0;
	}

	.menutext {
		font-size: 1.5em;
		font-style:italic;
	}

	#xs-buttons{
		list-style-type: none;
		font-size: 1em;
		margin-top: -10px;


		
	}
	.choice {
		border:1% solid black;
		border-radius: 5px;
		padding: 15px ;
		background-color: black;

	}

	#secondchoice {
		margin-top: 25px;

	}

}

@media (max-width: 397px){
	

	#logo-img{
		background: url("../images/logodef8.jpg") no-repeat;
		width:  100px;
		height: 100px;
		margin: 8px 0 10px 0;
	}


	#xs-buttons
	{
		list-style-type: none;
		font-size: 0.8em;
		margin-top: -10px;
	}
	.choice{
		border:0.5% solid black;
		border-radius: 5px;
		padding: 5px ;
		background-color: black;
	}

	#secondchoice {
		margin-top: 25px;

	}

}